{% extends 'user/base_user.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="content">
            <div class="section-inner clearfix">

                <h1>settings</h1>

                {% if form.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ form.errors }}
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>
                {% endif %}

                <form method="post" class="was-validated" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>Username:</h4>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        {{ form.username }}
                    </div>
                    <h4>Email:</h4>
                    <div class="input-group mb-3">
                        {{ form.email }}
                    </div>
                    <h4>First and Last name:</h4>
                    <div class="input-group">
                        {{ form.first_name }}
                        {{ form.last_name }}
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">User icon</label>
                        {{ form.image }}
                    </div>
                    <h4>About yourself:</h4>
                    <div class="input-group mb-3">
                        {{ form.about }}
                    </div>
                    <script type="text/javascript">
                        document.getElementById('id_username').value = "{{ user.username }}";
                        document.getElementById('id_email').value = "{{ user.email }}";
                        document.getElementById('id_first_name').value = "{{ user.first_name }}";
                        document.getElementById('id_last_name').value = "{{ user.last_name }}";
                        document.getElementById('id_about').value = "{{ user.about }}";
                    </script>
                    <br>
                    <input class="btn btn-success" type="submit" value="Save">
                </form>
            <br>
            {% if tg_secret.varified %}
                <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"></path>
            </svg> Linked to <a style="text-decoration: none;" href="https://t.me/{{ tg_secret.username }}">@{{ tg_secret.username }}</a></p>
                <form action="{% url "tg_unlick" %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-outline-danger" type="submit" value="Unlick">
                </form>
            {% else %}
                to link <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"></path>
            </svg> account send this command to <a href="https://t.me/akarpov_bot">bot</a> <p>/auth {{ tg_secret.secret }}</p>
            {% endif %}
            </div>
        </div>
    {% else %}
        <br>
        <h1>You are not loged in</h1>
        <p><a href="{% url "login" %}">log in</a> first</p>
    {% endif %}
{% endblock %}